@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Oswald&family=Poppins:wght@300;600&display=swap");

:root {
  --green: #27ae60;
  --carot: #dd007a;
  --dark-carot: #7c0623;
  --black: #181717;
  --white: rgb(255, 255, 255);
  --light-color: #f3b817;
  --light-yelow: #f5f249;
  --dark-yelow: #dacb00;
  --red: #f50c04;
  --cayn: #06cbda;
  --purple: #9e02ce;
  --box-shadow: 0.1rem 0.3rem #2a3b4b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.3s linear;
}

html {
  font-size: 70%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: black;
}

header {
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 7%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

header .head {
  color: var(--carot);
  font-size: 2.3em;
  font-weight: bolder;
  text-transform: uppercase;
  margin-left: 0;
  text-decoration: none;
  line-height: 1;
  margin: 0;
  padding: 0;
  height: auto;
}

header .head span {
  height: auto;
  font-weight: 500;
  letter-spacing: 0.5rem;
}

header .navigation a {
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 0.5rem;
  padding: 0.5rem 0.9rem;
  color: var(--white);
  position: relative;
}

header .navigation a.active,
header .navigation a:hover {
  color: rgb(200, 255, 0);
}

header .navigation a::before {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 25px;
  background: linear-gradient(
    to right,
    rgb(255, 251, 0),
    rgb(136, 0, 75),
    rgb(250, 0, 0)
  );
  width: 0;
  height: 0.14rem;
  transition: 0.3s;
}

header .navigation a:hover::before {
  width: 55%;
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.3rem;
  height: 2.5rem;
  line-height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  font-size: 1.4rem;
  color: var(--white);
  border-radius: 50%;
  background: rgb(253, 61, 3);
}

header .icons i:hover,
header .icons a:hover {
  color: var(--green);
  background: var(--dark-carot);
  /* transform: rotate(360deg); */
  transform: scale(1.2);
}

header .icons #bars {
  display: none;
}

/* search bar  */

header .search-bar {
  height: 70px;
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  background-color: rgb(0, 0, 0);
  transition: 0.5s ease;
}

header .search-bar input {
  width: 100%;
  height: 70px;
  position: relative;
  background: #181224;
  padding: 2rem;
  transition: 0.5s ease;
  font-size: 2rem;
  top: 0;
}

header .search-bar .search {
  height: 6.5rem;
  width: 100%;
  caret-color: #e41165;
  font-size: 1.5rem;
  line-height: 30px;
  padding: 1rem;
  color: #fff;
  border: none;
  border-bottom: 2px solid lightpink;
  outline: none;
}

header .search-bar input::placeholder {
  color: gray;
}

header .search-bar button {
  width: 24px;
  height: 24px;
  top: 50%;
  right: 10rem;
  color: white;
  font-size: 1.6rem;
  transform: translateY(-50%);
  background: transparent;
  position: absolute;
  cursor: pointer;
}

/* search bar end */

/* header section end */

/* slider style start */

.home .home-slider .slide {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: flex-start;
  position: relative;
}

/* video  start*/
.home .home-slider .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.479);
  z-index: 1;
}

.home .home-slider .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.home .home-slider .slide1,
.home .home-slider .slide2,
.home .home-slider .slide3,
.home .home-slider .slide4,
.home .home-slider .slide5,
.home .home-slider .slide6 {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
/* video end  */

/* .content start */
.home .home-slider .slide .content {
  text-align: center;
  padding-left: 20rem;
  z-index: 2;
}

.home .home-slider .slide .content h1 {
  color: rgb(253, 2, 98);
  font-size: 4rem;
}

.home .home-slider .slide .content h3 {
  color: var(--red);
  font-size: 3.3rem;
  font-weight: bold;
}

.home .home-slider .slide .content p {
  color: var(--light-yelow);
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 0.5rem 0;
  line-height: 1.2;
  font-weight: bold;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--cayn);
  border: 0.2rem solid rgb(170, 112, 3);
  border-radius: 17px;
  background: transparent;
  cursor: pointer;
  padding: 0.4rem 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn:before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgb(175, 135, 2), rgb(165, 1, 130));
  z-index: -1;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.5s;
}

.btn:hover.btn:before {
  left: 0;
}

.swiper-pagination-bullet {
  background: var(--light-yelow) !important;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
}

/* slider style end */

/* WELCOME STYLE STRAT */

section {
  padding: 7rem 9%;
}

.heading {
  text-align: center;
  color: var(--carot);
  font-size: 3rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sub-heading {
  text-align: center;
  color: var(--light-color);
  font-size: 2rem;
  padding: 0.3rem 0.8rem;
  font-weight: 200;
  margin-bottom: 1rem;
  background: var(--black);
  display: inline-block;
}

.welcome .box-container {
  display: flex;
  gap: 1.5rem;
}

.welcome .box-container .box {
  width: 40%;
  background: var(--black);
  box-shadow: var(--box-shadow);
  text-align: center;
  padding-bottom: 1%;
}

.welcome .box-container .box .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.welcome .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.welcome .box-container .box .image:hover img {
  transform: scale(1.2);
}

.welcome .box-container .box .content {
  padding: 1rem;
  padding-top: 1rem;
}

.welcome .box-container .box .content h3 {
  color: var(--light-color);
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.welcome .box-container .box .content p {
  color: var(--white);
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 0.5rem 0;
  line-height: 1.7;
}

/* WELCOME STYLE end */

/* menu item */

.our-menu {
  background: url("img/our-menu-bg-1.png") left top no-repeat,
    url("img/our-menu-bg-3.jpg");
}

.our-menu .menu-container {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1.5fr));
  gap: 5rem 7rem;
}

.our-menu .menu-container .item .item-name {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin-top: 0.5rem;
}

.our-menu .menu-container .item .item-name h2 {
  font-size: 2rem;
  color: white;
  font-weight: 300;
}

.our-menu .menu-container .item .item-menu h3 {
  font-size: 1.3rem;
  color: white;
  font-weight: 200;
  display: inline-block;
}

.our-menu .menu-container .item .item-menu span {
  width: 30%;
  display: inline-block;
  border: 1px dotted white;
}

.our-menu .menu-container .item .item-menu ul {
  display: flex;
  font-size: 1.4rem;
  padding: 0.9rem 0;
  list-style: none;
  gap: 1rem;
  font-weight: 200;
}

.our-menu .menu-container .item .item-menu ul li a {
  color: var(--cayn);
}

/* menu item end */

/* our chef style start */

.our-team .our-chef {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1.5fr));
  gap: 1.2rem;
}

.our-team .our-chef .item .image img {
  width: 100%;
}

.our-team .our-chef .item {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.our-team .our-chef .item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.527);
  z-index: 5;
}

.our-team .our-chef .item:hover::before {
  display: block;
}

.our-team .our-chef .item .chef-info {
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
  align-items: center;
  cursor: pointer;
  transition: 1s;
}

.our-team .our-chef .item .chef-info h3 {
  font-size: 1.5rem;
  color: var(--cayn);
  padding: 0.8rem 0;
  text-transform: uppercase;
}

.our-team .our-chef .item .chef-info span {
  font-size: 1.5rem;
  color: var(--dark-yelow);
  letter-spacing: 1px;
  font-weight: 500;
}

.our-team .our-chef .item .chef-info ul {
  list-style: none;
  display: flex;
  grid-gap: 2rem;
  padding: 1rem 0;
}

.our-team .our-chef .item .chef-info ul li a {
  color: #f6fcf7e7;
  font-size: 1.6rem;
}

.our-team .our-chef .item:hover .chef-info {
  top: 0;
}

/* our chef style end */

/* reservation form style  */
.reservation {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.reservation .image {
  width: 50%;
  background: url(img/book-a-table.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 7rem;
}

.reservation .form {
  background: linear-gradient(
    to top,
    rgb(49, 1, 1),
    rgb(247, 169, 169),
    rgb(5, 90, 248)
  );
  width: 50%;
  padding: 10rem 6%;
}

.reservation .form h1 {
  color: var(--carot);
}

.reservation .form-holder {
  display: flex;
  grid-gap: 3rem;
  width: 100%;
}

.reservation .form form input,
.reservation .form form select {
  display: block;
  margin: 2rem 0;
  width: 100%;
  background: rgb(32, 27, 27);
  border-bottom: 0.1rem solid white;
  color: rgb(167, 78, 111);
  font-size: 1.7rem;
  font-weight: 300;
}

.reservation .form form input::placeholder {
  color: rgb(167, 78, 111);
}

/* reservation style end */

/* new blog style  */

.blog .box-container .box {
  background: var(--black);
}

.blog .content {
  text-align: left;
  position: relative;
}

.blog .content h3 {
  color: var(--light-color);
}

.blog .content p,
.blog .content a {
  color: rgb(252, 252, 252) !important;
}

.blog .content a {
  font-size: 1rem;
  display: inline-block;
  padding-top: 0.2rem;
  letter-spacing: 1px;
}

.blog .content a:hover {
  background: linear-gradient(to left, rgb(99, 1, 1), rgb(228, 151, 36));
  transition: 0.4s;
  transform: scale(0.9);
}

/* new blog style end */

/* footer style  */
.footer {
  background: linear-gradient(to top, rgb(95, 1, 1), rgb(17, 20, 63));
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1.5fr));
  color: rgb(252, 247, 247);
  grid-gap: 1rem;
  padding: 4rem 0;
  border-bottom: 1px solid rgb(0, 255, 0);
}

.footer .container div {
  padding: 0 4rem;
}

.footer .container h3 {
  color: var(--light-color);
  font-size: 1.4rem;
  padding-bottom: 0.9rem;
}

.footer .container input {
  width: 100%;
  border: 2px solid rgb(238, 176, 5);
  background: transparent;
  padding: 0.3rem 0.6rem;
  border-radius: 15px;
}

.footer .container input::placeholder {
  color: #06cbda;
}

.footer .container ul {
  list-style: none;
  justify-content: center;
  display: flex;
  padding-top: 1rem;
}

.footer .container ul li a {
  color: white;
  margin: 1rem;
  font-size: 1.6rem;
}

.footer .container span {
  display: block;
}

/* footer style end */

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(128, 87, 1);
}

::-webkit-scrollbar-thumb {
  background: rgb(245, 165, 165);
}

/* jumpto up  */
.topbtn {
  position: fixed;
  right: 1%;
  bottom: 3%;
  height: 3%;
  width: 2%;
  background: #da3e00;
  color: white;
  cursor: pointer;
}

/* media quary */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }

  .our-menu .menu-container {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1.5fr));
  }

  .our-menu .menu-container .item .item-menu span {
    width: 15%;
  }
}

@media (max-width: 768px) {
  header .icons #bars {
    display: inline-block;
  }

  header .navigation {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgb(253, 250, 250);
    border-top: 0.1rem solid rgb(7, 7, 7);
    border-bottom: 0.1rem solid rgb(12, 12, 12);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navigation.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navigation a {
    display: block;
    padding: 1.2rem;
    margin: 1rem;
    font-size: 2rem;
    background: gray;
  }

  /* slider media quary */
  .home .home-slider .slide {
    justify-content: center;
    height: 100vh;
  }

  .home .home-slider .slide .content {
    padding: 0rem;
  }

  .home .home-slider .slide .content h1 {
    font-size: 6rem;
  }

  /* welcome section */
  .welcome .box-container {
    flex-wrap: wrap;
  }

  .welcome .box-container .box {
    width: 100%;
  }

  /* reservation */
  .reservation .image {
    width: 100%;
  }

  .reservation .form {
    width: 100%;
  }

  .reservation .form .form-holder {
    display: block;
  }
}
